body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button{
  padding: 5px 20px;
  color: #fdffff;
  background-color: #0041bb;
  border-style: none;
}
input{
  height: 20px;
}